# IDE
.idea
.vscode

# docker env file (@see .env.dist)
.env

# Composer PHAR
/composer.phar
/vendor

# Embedded web-server pid file
/.web-server-pid

# Cache folder
/cache/*
!/cache/.gitkeep

# graphql phpstorm extension config
#.graphqlconfig
